custom_components/plantbot/.DS_Store
custom_components/.DS_Store
/custom_components/plantbot/__pycache__
custom_components/.DS_Store
/custom_components/plantbot/__pycache__
.DS_Store
custom_components/.DS_Store
